body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

input, button {
    padding: 10px;
    margin: 20px;
    font-size: 16px;
}

img {
    margin-top: 30px;
    width: 50%;
    max-width: 500px;
}